<section class="section-modal modal-alert" ng-show="alertGuy.show" ng-click="alertGuy.toggle()">
	<div class="sub-overlay"><!-- --></div>
	<div class="sub-inner mod-mid">
		<header class="header-modal">
			<div class="sub-controls">
				<button class="btn btn-med btn-inline btn-back mod-light icon-close" ng-click="alertGuy.toggle()"></button>
				</div>
			</header>
		<div class="container mod-mid">
			<h1>{{alertGuy.opts.title}}</h1>
			<div>{{alertGuy.opts.text}}</div>
			<button class="btn btn-primary btn-text btn-inline">OK</button>
			</div>
		</div>
</section>